# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.claude/
.kiro/
.cursorrules
.mcp*
.opencode*
GEMINI.md

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
/changes
**/changes
**/spec
/*spec

# Added by code-review-graph
.code-review-graph/

